if BOARD_ASUS_P7H55_M_LX

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_8192
	select SUPERIO_ITE_IT8718F
	select NORTHBRIDGE_INTEL_IRONLAKE
	select SOUTHBRIDGE_INTEL_IBEXPEAK
	#select HAVE_ACPI_RESUME
	#select HAVE_ACPI_TABLES
	#select HAVE_OPTION_TABLE
	#select HAVE_CMOS_DEFAULT
	select INTEL_GMA_HAVE_VBT
	select INTEL_INT15
	select MAINBOARD_HAS_LIBGFXINIT
	select SERIRQ_CONTINUOUS_MODE
	select USE_NATIVE_RAMINIT
	select NORTHBRIDGE_INTEL_IRONLAKE
	select SOUTHBRIDGE_INTEL_IBEXPEAK

config MAINBOARD_DIR
	default "asus/p7h55-m_lx"

config MAINBOARD_PART_NUMBER
	default "P7H55_M_LX"

config DRAM_RESET_GATE_GPIO
	default 28

endif
